.bg-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  margin-top: -3rem;
}

.header-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  position: relative;
}

.header-container > h1 {
  color: rgba(255, 255, 255, 0.9);

  font-size: 100px;
  margin-top: -100px;
}

.header-container > p {
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 32px;
}

.header-btns {
  margin-top: 32px;
}

.header-btns .btn {
  margin: 6px;
}

.header-btns .contained {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.8);
}

.header-btns .outlined {
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
}

.contained:hover,
.outlined:hover {
  background-color: #eaeaeac7 !important;
  transition: 0.3s ease-out;
  border-color: #eaeaeac7 !important;
}

@media screen and (max-width: 960px) {
  .header-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .header-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .header-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .header-container > p {
    font-size: 15px;
  }
}
