.timesheet {
  margin-bottom: 20px;
  padding: 10px;
}

.timesheets {
  margin-bottom: 20px;
  padding: 10px;
}

.headerItem {
  background-color: lightgray !important;
}
span {
  font-weight: bold;
}
