.menuContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  background: rgb(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  position: sticky;
  top: 80px;
  z-index: 998;
}

.menuLink {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.menuLink:hover {
  color: grey;
  transition: all 0.2s ease-in-out;
}

.dashboard-home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.dashboard-btns-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.chart-container {
  width: 1000px;
}

@media screen and (max-width: 960px) {
  .menuLinkLogo {
    display: none;
  }
  .chart-container {
    width: 500px;
  }
}

@media screen and (max-width: 650px) {
  .dashboard-btns-container {
    flex-direction: column;
  }
  .chart-container {
    width: 300px;
  }
}
